body {
  background-color: black;
}

th,
td,
table {
  border: 1px solid white;
  border-collapse: collapse;
}

table {
  margin: auto;
  display: table;
  margin-top: 30px;
}

th,
td {
  width: 15px;
  height: 15px;
}

.alive {
  background-color: greenyellow;
}

.button {
  margin: auto;
  display: table;
  margin-top: 40px;
}
