body {
  background-color: black;
}

th,
td,
table {
  border: 1px solid white;
  border-collapse: collapse;
}

table {
  margin: auto;
  display: table;
  margin-top: 10px;
}

th,
td {
  width: 15px;
  height: 15px;
}

.alive {
  background-color: #00c851;
}

.button {
  margin: auto;
  display: table;
  margin-top: 20px;
}

.tilt-root {
  height: 80px;
  background-color: #00c851;
  width: 200px;
  background-image: -webkit-linear-gradient(315deg, #00c851 0%, #00c851 100%);
  background-image: linear-gradient(135deg, #00c851 0%, greenyellow 100%);
  transform-style: preserve-3d;
  will-change: transform;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.tilt-child {
  border-radius: 5px;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translateZ(30px) translateX(-50%) translateY(-50%);
  box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
  background-color: #4285f4;
}
.totally-centered {
  font-weight: bold;
  color: white;
  margin-top: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
